.config/autostart
.config/Bitwarden
.config/cef_user_data
.config/dconf
.config/discord
.config/Element
.config/google-chrome
.config/gtk-3.0
.config/libfm
.config/pulse
.config/mimeapps.list
.config/pavucontrol.ini
.config/pcmanfm
