//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/home/gk/.local/share/rofi/themes/onedark.rasi"
//@theme "/home/gk/.local/share/rofi/themes/onedark.rasi"
@theme "/home/gk/.local/share/rofi/themes/onedark.rasi"
